.body-all {
    font-family: 'Varela Round', sans-serif;
    background-color: #E8E6E6;
    margin: 0;
    padding: 0;
}
.yellosquare {
    position: absolute ;
    margin-top: -5px;
    width: 100%;
    padding: 0 0 0 0;
    background: #f8f405;
}
.mixers{
    margin-left: 750px;

}
.blackSquare {
    position: absolute;
    margin-top: 200px;
    width: 100%;
    padding: 0 0 0 0;
    background: #000000;
    text-align: center;
}
#MEGA{
    margin-top: 70px;
    float: left;
    margin-left: -50px;
    font-weight: bold;
    font-size: 40px;
}
#MIXER{
    float: right;
    margin-top: 70px;
    margin-right: 760px;
    font-weight: bold;
    font-size: 40px;
}
.buttonSelect{
    display: inline-block;
    background-color: #f8f405;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    font-size: 28px;
    padding: 20px;
    width: 100px;
    cursor: pointer;
    margin-left: 399px;
    margin-top: 50px;
    float: left;

}
.buttonPlacer{
    display: inline-block;
    background-color: #f8f405;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    font-size: 28px;
    padding: 20px;
    width: 100px;
    cursor: pointer;
    margin-left: -400px;
    float: left;
    margin-top: 15px;
    position: absolute;
}
.BoutonInitialisers{
    display: inline-block;
    background-color: #f8f405;
    border-radius: 10px;
    border: 2px double #cccccc;
    color: #eeeeee;
    font-size: 28px;
    padding: 20px;
    width: 100px;
    cursor: pointer;
    margin-left: 100px;
    float: left;
    margin-top: 15px;
    position: absolute;
}

.boutonPersonne1 {
    display: inline-block;
    background-color: #f8f405;
    border-radius: 10px;
    border: 2px double #cccccc;
    color: #eeeeee;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    height: 300px;
    cursor: pointer;
    margin-left: 100px;
    float: left;
    margin-top: 400px;
    position: absolute;
}




