.body-all {
    font-family: 'Varela Round', sans-serif;
    background-color: #E8E6E6;
    margin: 0;
    padding: 0;
}
.yellosquare { /*Banière de titre */

    text-align: center;
    background-color: goldenrod;
    font-weight: normal;
    font-size: 100px;
}

.blackSquare { /*carré noir comportant les 3 boutons*/
    background-color: black;
    padding-top: 20px;
}
.mixers{
    text-align: center;
}






