.body-all {
    font-family: 'Varela Round', sans-serif;
    background-color: #E8E6E6;
    margin: 0;
    padding: 0;
}
.yellosquare { /*Banière de titre */

    text-align: center;
    background-color: goldenrod;
    font-weight: normal;
    font-size: 100px;
    width: 100%;
}

.blackSquare { /*carré noir comportant les 3 boutons*/
    background-color: black;
    width: 100%;
    text-align: center;
}

.center{
    display: inline-block;
}
#buttonPlacer1 {
    border-radius: 4px;
    background-color: #d7d613;
    border: none;
    color: #000000;
    font-size: 32px;
    text-align: center;
    padding: 20px;
    width: 200px;
}
#buttonPlacer{
    border-radius: 4px;
    background-color: #d7d613;
    border: none;
    color: #000000;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.ArrièrePlan{
    width: 1320px;
    height: 730px;
    background-color: black;
    margin: auto;
}
.boutonPersonne1 {
    display: inline-block;
    background-color: goldenrod;
    border-radius: 10px;
    border: 2px double #cccccc;
    color: #eeeeee;
    font-size: 28px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    height: 300px;
    float: left;
}
.Nom { /* class pour le nom*/
    text-align: center;
    color: black;
    font-family: 'Varela Round', sans-serif;
    margin-top: 200px ;
}
.Prenom { /* class pour le Prenom*/
    text-align: center;
    color: black;
    font-family: 'Varela Round', sans-serif;
}
.Smiley { /*placement d'image dans les 10 bouttons*/
    background-image: url("smiley/smiley-2.png");
    background-repeat: no-repeat;
    margin-left: 40px;
    position: absolute;
}
.Smiley1 { /*placement d'image dans les 10 bouttons*/
    background-image: url("smiley/smiley-3.png");
    background-repeat: no-repeat;
    margin-left: 40px;
    position: absolute;
}
.Smiley2 { /*placement d'image dans les 10 bouttons*/
    background-image: url("smiley/smiley-4.png");
    background-repeat: no-repeat;
    margin-left: 40px;
    position: absolute;
}
.Smiley3 { /*placement d'image dans les 10 bouttons*/
    background-image: url("smiley/smiley-5.png");
    background-repeat: no-repeat;
    margin-left: 40px;
    position: absolute;
}
.Smiley4 { /*placement d'image dans les 10 bouttons*/
    background-image: url("smiley/smiley-6.png");
    background-repeat: no-repeat;
    margin-left: 40px;
    position: absolute;
}
.Smiley5 { /*placement d'image dans les 10 bouttons*/
    background-image: url("smiley/smiley-7.png");
    background-repeat: no-repeat;
    margin-left: 40px;
    position: absolute;
}
.Smiley6 { /*placement d'image dans les 10 bouttons*/
    background-image: url("smiley/smiley-2.png");
    background-repeat: no-repeat;
    margin-left: 40px;
    position: absolute;
}
.Smiley7 { /*placement d'image dans les 10 bouttons*/
    background-image: url("smiley/smiley-9.png");
    background-repeat: no-repeat;
    margin-left: 40px;
    position: absolute;
}
.Smiley8 { /*placement d'image dans les 10 bouttons*/
    background-image: url("smiley/smiley-2.png");
    background-repeat: no-repeat;
    margin-left: 40px;
    position: absolute;
}
.Smiley9 { /*placement d'image dans les 10 bouttons*/
    background-image: url("smiley/smiley-11.png");
    background-repeat: no-repeat;
    margin-left: 40px;
    position: absolute;
}

